.main{
    width: 100%;
    height: 1000px;
    background-color: #242322;
    display: flex;
}



.left{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding-top: 150px;
    padding-left: 127px;
    position: relative;
    
}

.left p{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    color: #F5F5F5;
}

.title{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 94px;
    text-transform: uppercase;
    color: #F5F5F5;

}

.info{
    display: flex;
    text-align: left;
    gap: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.leftBottomText{
    position: absolute;
    bottom: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #F5F5F5;
}

.right{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding-top: 150px;
    padding-left: 127px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.right label{
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #F5F5F5;
}

.textInputLarge{
    width: 532px;
    height: 74px;
    border-radius: 16px;
}

.textarea{
    width: 532px;
    height: 220px;
    border-radius: 16px;
}

.question{
    width: 532px;
    display: flex;
    justify-content: space-between;
}

.textInputSmall{
    width: 250;
    height: 74px;
    border-radius: 16px;
}

.btn{
    display: flex;
    width: 532px;
    height: 80px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #F5F5F5;
    gap: 10px;
}