

.header{
    background-color: #242322;
    height: 70px;
    display: flex;
}

.left{
    width: 40%;
    padding-left: 50px;
}

.right{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.link{
    text-decoration: none;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.socialMedia{
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
}