

.header{
    background-color: #242322;
    height: 70px;
    display: flex;
}

.left{
    width: 40%;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.right{
    width: 60%;
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.linkWrapper{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.socialMedia{
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
}
.socialMediaWrapper{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}



@media(max-width: 1260px){
    .header{
        height: 100px;
    }

    .left{
        width: 30%;
    }

    .right{
        width: 70%;
    }
}

@media(max-width: 1016px){
    .left{
        width: 20%;
    }
    .right{
        width: 80%;
    }
}

@media(max-width: 918px){
    .left{
        width: 10%;
    }

    .right{
        width: 90%;
    }
}

@media(max-width: 782px){
    .left{
        display: none;
    }

    .right{
        width: 100%;
    }

    .link{
        font-size: 12px;
    }

    .socialMedia{
        width: 25px;
        height: 25px;
    }

    .logo{
        display: none;
    }
}

@media(max-width: 504px){
    .link{
        font-size: 10px;
    }

    .socialMedia{
        width: 20px;
        height: 20px;
    }
}

@media(max-width: 406px){
    .right{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .socialMediaWrapper{
        width: 100%;
    }
}

@media(max-width: 374px){
    .link{
        font-size: 8px;
    }
}

@media(max-width: 308px){
    .link{
        font-size: 6px;
    }
}