
.section_top{
    width: 100%;
    height: 951px;
    background-position: center;
    background-size: cover;
    background-image: url(../assets//luxuryHouse.png.png);
    display: grid;
    place-items: center;
}

.section2{
    width: 100%;
    height: 574px;
    background-color: #242322;
    box-sizing: border-box;

}

.section2Top{
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;

}

.section2Bottom{
    width: 100%;
    height: 50%;
    display: grid;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white;
}


.section3{
    height: 1100px;
    width: 100%;
    background-color: #343331;
}

.section3Top{
    width: 100%;
    height: 30%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items:flex-end;
    justify-content: center;

    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;

color: #F5F5F5;
}

.section3Bottom{
    width: 100%;
    height: 70%;
    display: grid;
    place-items: center;
}

.section4{
    height: 782px;
    width: 100%;
    background-color: #242322;
    box-sizing: border-box;
}

.section4Top{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
}

.section4Bottom{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    text-align: center;
}

.section4Bottom span{
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: white;
}

.section4Bottom p{
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    color: white;
}

.section4Bottom div{
    font-family: "Cabin", sans-serif;
    font-size: 21px;
    color: white;

    width: 204px;
    height: 58px;
    border-radius: 100px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;

}

.section4Bottom div:hover{
    width: 204px;
    height: 58px;
    border-radius: 100px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    font-family: "Cabin", sans-serif;
    font-size: 21px;
    color: #EBEBEA;
    
}

.section4BottomButtonActive{
    font-family: "Cabin", sans-serif;
    font-size: 21px;
    color: white;

    width: 204px;
    height: 58px;
    border-radius: 100px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    opacity: 0.8;
}

.section5{
    width: 100%;
    height: 900px;
    background-color: #343331;
    padding-left: 127px;
    padding-top: 93px;
    box-sizing: border-box;
}

    .section5Top{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #F5F5F5;
    text-align: left;
    word-wrap: break-word; 
    max-width: 870px;
    }

.section5Bottom{
    width: 100%;
}


@media(max-width: 682px){
    .section_top{
        height: 700px;
    }
}

@media(max-width: 548px){
    .section_top{
        height: 500px;
    }
}

@media(max-width: 408px){
    .section_top{
        height: 300px;
    }
}

@media(max-width: 350px){
    .section_top{
        height: 170px;
    }
}

@media(max-width: 1024px){
    .section2Top{
        font-size: 40px;
    }

    .section2Bottom{
        font-size: 25px;
    }

    .section3Top{
        font-size: 50px;
    }
}

@media(max-width: 1005px){
    .section5Top{
        font-size: 40px;
    }
}

@media(max-width: 815px){
    .section2Top{
        font-size: 30px;
    }

    .section2Bottom{
        font-size: 20px;
        padding-left: 100px;
        padding-right: 100px;
        box-sizing: border-box;
    }
}

@media(max-width: 777px){
    .section5Top{
        font-size: 30px;
    }
}

@media(max-width: 709px){
    .section5{
        padding-left: 50px;
    }
}

@media(max-width: 661px){
    .section3{
        height: 900px;
    }
}

@media(max-width: 603px){
    .section3Top{
        font-size: 40px;
    }

    .section3{
        height: 800px;
    }

    .section4Top{
        font-size: 40px;
    }
}

@media(max-width: 509px){
    .section2Top{
        font-size: 20px;
    }

    .section2Bottom{
        font-size: 15px;
    }
}

@media(max-width: 480px){
    .section3Top{
        font-size: 30px;
    }

    .section3{
        height: 700px;
    }

    .section2Bottom{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 417px){
    .section4Top{
        font-size: 30px;
    }

    .section4Bottom span{
        font-size: 30px;
    }

    .section4Bottom p{
        font-size: 25px;
    }

    .section4{
        height: 600px;
    }

    .section5Top{
        font-size: 20px;
    }

    .section5{
        height: 700px;
    }
}



@media(max-width: 358px){
    .section2Top{
        font-size: 15px;
    }

    .section2Bottom{
        font-size: 10px;
    }

    .section2{
        height: 350px;
    }

    .section3Top{
        font-size: 20px;
    }

    .section3{
        height: 500px;
    }

    .section5{
        padding-left: 20px;
    }
}

@media(max-width: 315px){
    .section4Top{
        font-size: 25px;
    }

    .section4Bottom span{
        font-size: 25px;
    }
    .section4Bottom p{
        font-size: 20px;
    }
}

@media(max-width: 300px){
    .section2Top{
        font-size: 10px;
    }

    .section2Bottom{
        font-size: 8px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .section2{
        height: 200px;
    }

    .section3{
        height: 400px;
    }

    .section4{
        height: 500px;
    }
}

@media(max-width: 269px){
    .section5Top{
        font-size: 15px;
    }

}

@media(max-width: 247px){
    .section4Top{
        font-size: 20px;
    }

    .section4Bottom p{
        font-size: 15px;
    }

    .section2Top{
        font-size: 8px;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }
}

@media(max-width: 240px){
    .section3Top{
        font-size: 16px;
    }

    .section3{
        height: 250px;
    }
}

@media(max-width: 220px){
    .section4Bottom div, .section4Bottom div:hover, .section4BottomButtonActive{
        width: 160px;
        height: 50px;
        font-size: 16px;
    }

    .section4Bottom span{
        font-size: 20px;
    }

    .section4Bottom p{
        font-size: 10px;
    }

    .section4Top{
        font-size: 15px;
    }

    .section4{
        height: 400px;
    }
}

@media(max-width: 193px){
    .section3Top{
        font-size: 12px;
    }

    .section2Top{
        font-size: 6px;
    }
}