
.main{
    width: 1336px;
    height: 595px;
    background: rgba(52, 51, 49, 0.8);
    padding-left: 19px;
    padding-top: 62px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.main2{
    width: 1336px;
    height: 460px;
    background: rgba(52, 51, 49, 0.8);
    padding-left: 19px;
    padding-top: 62px;
    position: relative;
}

.top{
    width: 100%;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase;
    color: white;
}

.middle{
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 117.8%;
color: white;
height: 200px;
display: flex;
justify-content: space-between;
}

.bodyLeft{
    display: flex;
    justify-content: baseline;
    place-items: center;
    height: 100%;
    text-align: left;
    width: 60%;
}

.bodyRight{
    width: 40%;
}

.image{
    width: 500px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/logo-large.svg);
    position: absolute;
    right: 0;
    top: 25%;
}

.bottom{
    width: 100%;
}

.button{
    width: 390px;
    height: 74px;
    border-radius: 100px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    color: white;
    display: grid;
    place-items: center;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}   

.button:hover{
    width: 390px;
    height: 74px;
    border-radius: 100px;
    background: linear-gradient(90deg, #D4AE5F 0%, #A18448 100%);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    color: #EBEBEA;
    display: grid;
    place-items: center;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.button_active{
    width: 390px;
    height: 74px;
    border-radius: 100px;
    background: var(--gradient, linear-gradient(90deg, #D4AE5F 0%, #A18448 100%));
    box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(0, 0, 0, 0.02), 0px 6.650102138519287px 5.32008171081543px 0px rgba(0, 0, 0, 0.03), 0px 12.521552085876465px 10.017241477966309px 0px rgba(0, 0, 0, 0.04), 0px 22.3363094329834px 17.869047164916992px 0px rgba(0, 0, 0, 0.04), 0px 41.777610778808594px 33.422088623046875px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
    color: #EBEBEA;
    display: grid;
    place-items: center;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    opacity: 0.8;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

@media(max-width: 1409px){
    .main{
        width: 1250px;
    }
}

@media(max-width: 1308px){
    .main{
        width: 1200px;
    }
}

@media(max-width: 1241px){
    .main{
        width: 1150px;
    }

    .image{
        width: 400px;
        height: 300px;
    }

    .top{
        font-size: 60px;
    }
}

@media(max-width: 1196px){
    .main{
        width: 1100px;
        height: 500px;
    }
}

@media(max-width: 1147px){
    .main{
        width: calc(100% - 60px);
    }
}

@media(max-width: 1126px){
    .image{
        width: 300px;
        height: 200px;
        top: 40%;
    }
}

@media(max-width: 950px){
    .top{
        font-size: 50px;
    }

    .middle{
        font-size: 25px;
    }
}

@media(max-width: 854px){
    .main{
        height: 400px;
    }

    .top{
        font-size: 40px;
    }

    .middle{
        font-size: 20px;
    }
}

@media(max-width: 748px){
    .main{
        height: 300px;
        padding-bottom: 20px;
        box-sizing: border-box;
    }

    .top{
        font-size: 30px;
    }

    .button, .button:hover, .button_active{
        width: 340px;
        height: 65px;
    }

    .image{
        width: 200px;
        height: 100px;
        top: 50%;
    }
}

@media(max-width: 578px){
    .main{
        height: 200px;
    }

    .top{
        font-size: 20px;
    }

    .middle{
        font-size: 16px;
    }

    .button, .button:hover, .button_active{
        width: 250px;
        height: 50px;
        font-size: 16px;
    }
}

@media(max-width: 506px){
    .top{
        font-size: 20px;
    }

    .middle{
        font-size: 12px;
    }

    .image{
        width: 120px;
        height: 50px;
        top: 55%;
    }

    .button, .button:hover, .button_active{
        width: 200px;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width: 408px){
    .main{
        height: 150px;
        justify-content: space-between;
        padding-top: 10px;
    }

    .top{
        font-size: 16px;
        padding-top: 0;
    }

    .middle{
        font-size: 10px;
    }

    .button, .button:hover, .button_active{
        width: 150px;
        height: 30px;
        font-size: 10px;
    }

    .image{
        top: 45%;
    }
}

@media(max-width: 350px){

    .main{
        padding-bottom: 10px;
    }

    .top{
        font-size: 15px;
    }

    .middle{
        font-size: 8px;
    }

    .image{
        width: 70px;
        height: 40px;
    }

    .button, .button:hover, .button_active{
        width: 100px;
        font-size: 7px;
    }
}

@media(max-width: 286px){
    .main{
        height: 130px;
        padding-bottom: 0;
    }
}

@media(max-width: 277px){
    .main{
        height: 110px;
    }

    .button{
        width: 80px;
        height: 20px;
        font-size: 5px;
    }

    .top{
        font-size: 9px;
    }
}

@media(max-width: 237px){
    .main{
        height: 90px;
    }

    .middle{
        font-size: 4px;
    }

    .image{
        width: 60px;
        height: 30px;
    }
}